<div class="text-field">
  <%= form.text_field :username, type: 'text', placeholder: "Username" %>
</div>
<div class="text-field">
  <%= form.text_field :email, type: 'email', placeholder: "Email address" %>
</div>
<div class="text-field">
  <%= form.text_field :first_name, type: 'text', placeholder: "First Name" %>
</div>
<div class="text-field">
  <%= form.text_field :last_name, type: 'text', placeholder: "Last Name" %>
</div>
