<main class='hero'>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <div class="hero-text">
          <h1>Take the best shots,<br> at the best spots</h1>
          <p>A community driven platform for photography enthusiasts to discover new places to shoot or share their favourite spots</p>
          <%= link_to 'Try SnapSpot', signup_path, class: "btn btn-primary" %> 
        </div>
      </div>
    </div>
  </div>
</main>
