.search-wrapper {
  background: url("index.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 40vh;
  color: #fff;
  text-align: center;
  #snapspot_search {
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
    box-shadow: $shadow;
    display: flex;
    input {
      background: none;
      flex: 1;
      padding-right: .5rem;
      padding-left: .5rem;
      outline: none;
      color: #fff;
      font-weight: 600;
    }
    ::-webkit-input-placeholder {
      color: #fff;
    }
  }
  .popular-tags {
    h5 {
      text-transform: uppercase;
      font-weight: 600;
    }
    a {
      color: #fff;
      margin-right: .75rem;
      &:hover, &:focus {
        color: lighten($purple, 25%);
      }
    }
  }
}
.card {
  background: $offwhite;
  border-radius: 0;
  border: 0;
  box-shadow: $l-shadow;
}
.card-text {
  font-size: 1.2rem;
}
.card-img-top {
  padding: .75rem .75rem 0;
}
.card-body {
  font-family: 'Permanent Marker',cursive;
}
.card-footer {
  border-top: 0;
  background: transparent;
}
.snapspot-image {
  height: 60vh;
  object-fit: cover;
  width: 100%;
}
.snapspot-details {
  padding: 0 1.5rem 1.5rem;
  h5 {
    color: $purple;
  }
}
