.user-hero {
  background: url(user-hero.jpg);
  background-size: cover;
  background-position: 50% 60%;
  min-height: 20vh;
}
.user-avatar-wrapper {
  margin-top: -7rem;
}
.user-avatar {
  box-shadow: $l-shadow;
}
