.hero {
  background: url(hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
    align-items: center;
}
.hero-text {
  margin-top: 15rem;
  color: #fff;
}
