.hero {
  background: url("https://s3-ap-southeast-1.amazonaws.com/sammiepls-snapspot/uploads/hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
    align-items: center;
}
.hero-text {
  color: #fff;
}
